
.product-menu {
    margin: 30px 62px;
    display: flex;
    justify-content:space-between ;
    gap: 20px;
}

.product-menu .product-type {
    border: 1px solid #55555544;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.product-menu .short-by .product-type {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 5px 20px;
    border-radius: 5px;
}

.product-menu .item {
    width: 600px;
}


/*=========== product-menu responsive desing ========== */

@media (max-width:1125px) {
    .product-menu {
        flex-wrap: wrap;
    }
}

@media (max-width:901px) {
    .product-type h3 {
        font-size: 11px;
    }
   
}

@media (max-width:767px) {

    .product-menu {
       margin: 20px 25px;
    }

    .product-menu .item {
        width: 100%;
    }

    .short-by {
        margin-top: -20px;

    }
}

