
.product-menu .item .product-type,
.product-menu .short-by .product-type{
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #695e5e1b;
    height: 30px;
    padding: 5px 20px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease;
    justify-content: space-between;
}

.product-menu {
    display: flex;
    margin: 30px 62px;
    justify-content: space-between;
    gap: 20px;
}

.product-menu .item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.product-menu .product-type:hover {
    background-color: #695e5e2a;
}

.product-type .arrow {
    font-size: 14px;
}

.product-type h3 {
    font-size: 13px;
    font-family: sans-serif;
}

/*=========== product-menu responsive desing ========== */

@media (max-width:1125px) {
    .product-menu {
        flex-wrap: wrap;
    }
}

@media (max-width:901px) {
    .product-menu .item {
        overflow-y: auto;
        visibility: visible;
        height: 50px;
    }

    .item .product-type:nth-child(1){
        min-width: 130px;
    }

    .item .product-type:nth-child(6){
        min-width: 130px;
    }

    .product-type h3 {
        font-size: 11px;
    }
}

@media (max-width:767px) {
    .product-menu {
        margin-left: 20px;
        width: 94%
    }
}
@media (max-width:448px) {
    .product-menu {
        margin-left: 20px;
        width: 90%
    }
}